@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}


.flights,
.comment {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.home{
 display: flex;
  height: 40vh;
  align-items: center;
  justify-content:center;
  font-size: 2rem;
}

.home-logo{
  color: #1A95DA;
  display: flex;
  justify-content: center;
}
.home-text{
   display: flex;
  height: 10vh;
  align-items: center;
  justify-content:center;
  font-size: 1.2rem;
}

.comment-form{
   background: white;
  border: 1px solid #1A95DA;
  box-shadow: 0px 2px 3px #1A95DA;
  width: 400px;
  height: 400px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
}

.comment-button{
  background: white;
  color: #1A95DA;
   border: 1px solid white;
  font-size: 1rem;
}